// COLORS
$white: #FFF;
$black: #000;
$gray: #707070;
$orange: #FF7F00;
$blue: #89adc9;


//FONTS
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
