.navbar{

  &-nav{
    color:$black;
  }
  &-brand{
    height: 100px;
    width: 175px;
  }
}

.nav-link {
  color:#000 !important;
  &:hover{
    color: $orange !important;
  }
}

.current {
  color:$orange !important;
  border-bottom: 2px solid $orange;
}
