.hero{
  height: 90vh;
  background-image: linear-gradient(
        to right bottom,
        rgba($black, 0.6),
        rgba($black, 0.6)),
         url(../img/youth-climber.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &-title {
    padding-top: 150px;
    color: $white;
    font-family: "Cabin";
    font-size: 72px
  }

  &-subtitle{
    color:$white;
    font-size: 28px;
  }
}

.testimonial{
  position: relative;

  &-title{
    font-family: 'Cabin';
    font-size: 71px;
    text-align: center;
    margin: 63px 0 71px 0;
  }

  &-name{
    color:$black;
    font-size: 48px;
  }

  &-text{
    color: $black;
  }

  .border-bottom-orange{
    border-bottom: 4px solid $orange;
    width: 20%;
    position: absolute;
    left: 40%;
    bottom: 30%;
  }

}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: $orange;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 22px;
	height: 22px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: $gray;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: $orange;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
